<h1>Adminhome#index</h1>
<p>Find me in app/views/adminhome/index.html.erb</p>

<ul>
	<li><%= link_to "Manage Requests", requests_path %></li>
	<li><%= link_to "Manage Users", manageusers_path %></li>
</ul>
