<h1>Welcome <%=current_user.name%>!</h1>

<h3>Listing Current Timesheet</h3>
<table id="table-fields" align="center">

	<tr>
		<th>Employee</th>
		<th>Time</th>
		<th>Type</th>
	</tr>
	<% count = 0%>

	<% @timesheet.each do |t|%>
	<% trClass = ""
    if count%2 == 1
      trClass = "alt"
    end
    count = count + 1
%>
	<tr class="<%= trClass%>">
		<td> <%= t.user.name%> </td>
		<td><%= t.minutes %></td>
		<% if 0 == t.request_type%>
		<td>Regular</td>
		<%elsif 1 == t.request_type%>
		<td>Sick Leave </td>
		<%elsif 2 == t.request_type%>
		<td>Holiday Leave </td>
		<%else %>
		<td>Other</td>
		<%end%>
	</tr>
	<% end %>
</table>

