<% content_for :header do%>
	<div class="logout">
		<b>Hi, <%= current_user.name %>!</b> (<%= link_to('Log out', destroy_user_session_path, :method => :delete) %>)
	</div>
<%end%>

<% content_for :content do %>	
	<%= yield %>
<% end %>

<%= render :file => 'layouts/application' %>